body{
    margin: auto;
    background-color: black;
}

header{
    margin-top: -4%;
    background-image: url(img/fejlec.jpg);
    color: white;
    height: 672px;
    background-repeat: no-repeat;
    background-position-x: -280px;
    background-position-y: center;
    background-size: 1900px;
}
h4{
    padding: 30px;
    font-size: 32px;
    color: white;
}
h5{
    font-size: 20px;
    color: white;
}
h2{
    color: white;
}
nav{
    float: right;
    color: rgb(216, 213, 213);
    margin-top: -100px;
}
a:link, a:active, a:visited{
    color: rgb(216, 213, 213);
    text-decoration: none;
}
a:hover{
    color: white;
}
#masodik{
    background-color: rgb(36, 36, 36);
    margin-top: -80px;
    height: 250px;
}
#piadina{
    font-size: 26px;
    margin-left: 24%;
    margin-top: 1%;
}
#tortenet{
    font-size: 18px;
    color: rgb(133, 131, 131);
    margin-left: 37%;
    margin-top: -4%;
}
#tortenetsz{
    color: rgb(180, 178, 178);
    text-align: left;
    margin-left: 600px;
    margin-top: -7%;
    margin-right: 20%;
}
#asztal{
    margin: auto;
    margin-left: 47%;
}
#menu{
    color: rgb(156, 154, 154);
    text-align: center;
}
#menusz{
    margin-left: 25%;
    margin-right: 25%;
}
#elemek{
    margin-top: 4%;
    margin-bottom: 5%;
}
#elem1{
    color: white;
    border: 1px, solid, white;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    display: inline;
    margin-left: 2%;
    margin-right: 2%;
}
#elem2{
    color: white;
    border: 1px, solid, white;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    display: inline;
    margin-left: 2%;
    margin-right: 2%;
}
#elem3{
    color: white;
    border: 1px, solid, white;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    display: inline;
    margin-left: 2%;
    margin-right: 2%;
}
#specialitasok{
    text-align: center;
    background-color: rgb(36, 36, 36);
    padding: 3%;
}
#izek{
    color: rgb(156, 154, 154);
}
#pizzakep{
    margin-left: 12%;
    margin-top: 3%;
    display: block;
    height: 370px;
}
#vorosboros{
    top: 0%;
    left: 150px;
    right: -50%;
    height: 450px;
    display: inline;
    
}
#zoldseg{
    height: 200px;
    display: inline;
}
#masikpizza{
    width: 300px;
}
#eloetel{
    height: 250px;
}
#lablec{
    margin-top: 2%;
}
#szeretettel{
    margin-right: 60%;
    text-align: right;
    line-height: 10px;
}
#tablazat{
    color: aliceblue;
}
#nyitvatartas{
    margin-top: -2%;
    margin-left: 43%;
    color: rgb(175, 166, 166);
    line-height: 23px;
}
#nyitva{
    color: white;
    margin-left: 43%;
}
#hetfo{
    border-bottom: 3px, solid, red;
}