body{
    margin: auto;
    background-color: rgb(15, 15, 15);
}

header{
    margin-top: -1.5cm;
    background-image: url(img/fejlec.jpg);
    color: white;
    height: 672px;
    background-repeat: no-repeat;
    background-position-x: -280px;
    background-position-y: center;
    background-size: 1900px;
}
h4{
    padding: 30px;
    font-size: 32px;
    color: white;
}
h5{
    font-size: 20px;
    color: white;
}
h2{
    color: white;
}
nav{
    float: right;
    color: rgb(216, 213, 213);
    margin-top: -100px;
    padding: 1px;
    margin-right: 2%;
}
a:link, a:active, a:visited{
    color: rgb(216, 213, 213);
    text-decoration: none;
}
a:hover{
    color: white;
    font-weight: bold;
}
#masodik{
    background-color: rgb(36, 36, 36);
    margin-top: -10%;
    height: 100%;
    padding: 3px;
}
#piadina{
    font-size: 26px;
    margin-left: 160px;
}
#tortenet{
    font-size: 18px;
    color: rgb(133, 131, 131);
    margin-left: 330px;
    margin-top: -55px;
}
#tortenetsz{
    color: rgb(180, 178, 178);
    text-align: left;
    margin-left: 470px;
    margin-top: -95px;
    margin-right: 10%;
    font-size: 20px;
    line-height: 33px;
}
#asztal{
    margin: auto;
    margin-bottom: 4%;
    margin-left: 470px;
}
#menu{
    color: rgb(156, 154, 154);
    text-align: center;
    font-size: 20px;
    line-height: 27px;
}
#menusz{
    margin-left: 25%;
    margin-right: 25%;
}
#elemek{
    margin-top: 4%;
    margin-bottom: 5%;
}
#elem1{
    color: white;
    border: 1px, solid, white;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    display: inline;
    margin-left: 2%;
    margin-right: 2%;
}
#elem2{
    color: white;
    border: 1px, solid, white;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    display: inline;
    margin-left: 2%;
    margin-right: 2%;
}
#elem3{
    color: white;
    border: 1px, solid, white;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    display: inline;
    margin-left: 2%;
    margin-right: 2%;
}
#specialitasok{
    text-align: center;
    background-color: rgb(36, 36, 36);
    padding: 3%;
}
#izek{
    color: rgb(156, 154, 154);
    font-size: 20px;
}
#pizzakep{
    margin-left: 12%;
    margin-top: 3%;
    display: block;
    height: 370px;
}
#vorosboros{
    top: 0%;
    left: 150px;
    right: -50%;
    height: 450px;
    display: inline;
}
#zoldseg{
    height: 200px;
    display: inline;
}
#masikpizza{
    width: 300px;
}
#eloetel{
    height: 250px;
}
#lablec{
    margin-top: 2%;
    padding: 1%;
}
#szeretettel{
    margin-right: 70%;
    text-align: right;
    line-height: 10px;
}
#tablazat{
    color: aliceblue;
}
#nyitvatartas{
    margin-left: 34%;
    color: rgb(175, 166, 166);
    line-height: 35px;
    font-size: 21px;
    margin-right: 40%;
}
#nyitva{
    color: white;
    text-align: center;
    margin-top: -65px;
    margin-bottom: 40px;
    margin-left: -27%;
}
#hetfo{
    border-bottom: 3px, solid, red;
}
#elsoborder{
    margin-bottom: 3px;
    border-bottom: solid 1px;
}
#masodikborder{
    border-bottom: solid 1px;
}
#harmadikborder{
    border-bottom: solid 1px;
}
#negyedikborder{
    border-bottom: solid 1px;
}
#otodikborder{
    border-bottom: solid 1px;
}
#hatodikborder{
    border-bottom: solid 1px ;
}
#asztalfoglalas{
    color: rgb(255, 255, 255);
    margin-left: 65%;
    margin-right: 10%;
    margin-top: -575px;
    margin-bottom: 420px;
    line-height: 28px;
}
#foglalasszoveg{
    color: rgb(168, 168, 168);
    font-size: 20px;
    }
hr{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    border-color: rgb(80, 73, 73);
}
#alsoszoveg{
    color: rgb(168, 168, 168);
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
}
.text{
    position: absolute;
    bottom: 10px;
    left: 50%;
    color: white;
    font-size: 24px;
    pointer-events: none;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 1.5rem; 
}
.gallery__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery__item--1{
    grid-column-start: 2;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 6;
}
.gallery__item--2 {
    grid-column-start: 10;
    grid-column-end: 15;
    grid-row-start: 1;
    grid-row-end: 8;
}
.gallery__item--3 {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 10;
}
.gallery__item--4 {
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 6;
    grid-row-end: 10;
}
.gallery__item--5 {
    grid-column-start: 10;
    grid-column-end: 15;
    grid-row-start: 8;
    grid-row-end: 11;
} 
#pizzatext{
    margin-top: -8%;
    color: white;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 6;
}
#vorosborostext{
    margin-top: -14%;
    color: white;
    text-align: center;
    grid-column-start: 11;
    grid-column-end: 15;
    grid-row-start: 1;
    grid-row-end: 8;
}
#vegyestext{
    margin-top: -13%;
    color: white;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 10;
}
#pizzamasodiktext{
    margin-top: -13%;
    color: white;
    text-align: center;
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 6;
    grid-row-end: 10;
}
#eloeteltext{
    margin-top: -13%;
    color: white;
    text-align: center;
    grid-column-start: 10;
    grid-column-end: 15;
    grid-row-start: 8;
    grid-row-end: 11;
}
@media only screen and (min-width: 900px) and (max-width: 930px){
    #vegyestext{
        margin-top: -40px;
    }
}
@media only screen and (max-width: 900px) {
    #piadina{
        margin-left: 8px;
    }
    #tortenet{
        margin-left: 184px;
    }
    #tortenetsz{
        margin-left: 310px;
        margin-right: 3%;
    }
    #asztal{
        margin-left: 310px;
    }
    #menusz{
        margin-left: 5%;
        margin-right: 5%;
    }
    .gallery{
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }
    .gallery__item--1{
        grid-column-start: 1;
        grid-column-end: 10;
        grid-row-start: 1;
        grid-row-end: 5;
    }
    .gallery__item--2 {
        grid-column-start: 9;
        grid-column-end: 17;
        grid-row-start: 1;
        grid-row-end: 6;
    }
    .gallery__item--3 {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 5;
        grid-row-end: 8;
    }
    .gallery__item--4 {
        grid-column-start: 5;
        grid-column-end: 10;
        grid-row-start: 5;
        grid-row-end: 8;
    }
    .gallery__item--5 {
        grid-column-start: 9;
        grid-column-end: 17;
        grid-row-start: 6;
        grid-row-end: 8;
    }
    #vorosborostext{
        margin-top: -16%;
    }
    #vegyestext{
        margin-top: -15%;
    }
    #pizzamasodiktext{
        margin-top: -15%;
    }
    #eloeteltext{
        margin-top: -15%;
    }
}
@media only screen and (max-width: 844px){
    #vegyestext{
        margin-top: -40px;
    }
}
@media only screen and (max-width: 702px){
    #vegyestext{
        margin-top: -60px;
    }
}
@media only screen and (max-width: 684px){
    #vorosborostext{
        margin-top: -40px;
    }
}
@media only screen and (max-width: 600px) {
    #piadina{
        text-align: right;
        padding: 0;
    }
    #tortenet{
        text-align: right;
        margin-left: 0;
        margin-top: 5px;
    }
    #tortenetsz{
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
    }
    #asztal{
        text-align: left;
        margin-left: 0; 
    }
    #menusz{
        margin-left: 5%;
        margin-right: 5%;
    }
    .gallery{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    .gallery__item--1{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .gallery__item--2 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 4;
    }
    .gallery__item--3 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .gallery__item--4 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    .gallery__item--5 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 6;
        grid-row-end: 7;
    }
    #vorosborostext{
        margin-top: -8%;
    }
    #vegyestext{
        margin-top: -8%;
    }
    #pizzamasodiktext{
        margin-top: -8%;
    }
    #eloeteltext{
        margin-top: -8%;
    }
    #elem1{
        display: block;
        margin-left: 24%;
        margin-right: 24%;
        margin-bottom: 50px;
    }
    #elem2{
        display: block;
        margin-left: 24%;
        margin-right: 24%;
        margin-bottom: 50px;
    }
    #elem3{
        display: block;
        margin-left: 24%;
        margin-right: 24%;
        margin-bottom: 50px;
    }
    #asztalfoglalas{
        display: block;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    #nyitvatartas{
        margin-left: 34%;
        line-height: 35px;
        margin-right: 40%;
    }
    #nyitva{
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
    }
    #szeretettel{
        margin-right: 0;
        text-align: right;
        
        line-height: 0;
    }
    #nyitvatartas{
        margin-left: 1%;
        line-height: 30px;
        font-size: 21px;
        margin-right: 2%;
        
    }
    #nyitva{
        text-align: left;
        margin-top: -65px;
        margin-bottom: 40px;
        margin-left: -27%;
    }
    #hetfo{
        text-align: left;
    }
    #elsoborder{
        padding-left: 91%;
        padding-bottom: 5px;
        text-align: right;
        margin-left: -53px;
        margin-bottom: 6px;
    }
    #masodikborder{
        padding-left: 79%;
        padding-bottom: 5px;
        text-align: right;
        margin-left: -51px;
        margin-bottom: 6px;
    }
    #harmadikborder{
        padding-left: 79%;
        padding-bottom: 5px;
        text-align: right;
        margin-left: -63px;
        margin-bottom: 6px;
    }
    #negyedikborder{
        padding-left: 79%;
        padding-bottom: 5px;
        text-align: right;
        margin-left: -88px;
        margin-bottom: 6px;
    }
    #otodikborder{
        padding-left: 79%;
        padding-bottom: 5px;
        text-align: right;
        margin-left: -63px;
        margin-bottom: 6px;
    }
    #hatodikborder{
        padding-left: 79%;
        padding-bottom: 5px;
        text-align: right;
        margin-left: -37px;
        margin-bottom: 6px;
    }
    #hetedikborder{
        text-align: right;
        margin-left: 72%;
    }
    #elsoflex{
        display: flex;
    }
    #masodikflex{
        display: flex;
    }
    #harmadikflex{
        display: flex;
    }
    #negyedikflex{
        display: flex;
    }
    #otodikflex{
        display: flex;
    }
    #hatodikflex{
        display: flex;
    }
    #hetedikflex{
        display: flex;
    }
    hr{
        margin-left: 2%;
        margin-right: 2%;
    }
    #egysorba2{
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 414px){
    
}